<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <label class="navbar-brand">Do Connect</label>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              *ngIf="!authRoute.checklogin()"
              routerLink="/login"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              *ngIf="!authRoute.checklogin()"
              routerLink="/signup"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              *ngIf="authRoute.checklogin()"
              (click)="gotouserinfo()"
              routerLink="/loader"
            >
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              *ngIf="authRoute.checklogin()"
              routerLink="/askquestion"
            >
              Ask Question
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              *ngIf="authRoute.checklogin() && authRoute.checkadmin()"
              routerLink="/allusers"
              (click)="userService.loadallusers()"
            >
              All Users
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              *ngIf="authRoute.checklogin() && authRoute.checkadmin()"
              routerLink="/approvequestion"
            >
              Approve Question
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              *ngIf="authRoute.checklogin() && authRoute.checkadmin()"
              routerLink="/approveanswer"
            >
              Approve Answer
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              *ngIf="authRoute.checklogin()"
              (click)="authService.logout()"
              routerLink="/home"
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
