<div class="mt-4 shadow p-2 text-center container" style="max-width: 500px">
  <div>
    <p>Asked By - {{ question.username }}</p>
    <p>Topic - {{ question.topic }}</p>
    <p>{{ question.description }}</p>
  </div>
  <div class="col-md-12 my-2">
    <div *ngIf="retrievedImage">
      <img [src]="retrievedImage" />
    </div>
  </div>
  <p>
    <button
      *ngIf="checkAdminLogin()"
      class="btn btn-danger btn-md"
      (click)="deleteQuestion()"
    >
      Delete
    </button>
    <button
      *ngIf="checkUserLogin()"
      class="btn btn-primary btn-md"
      (click)="seeAnswers()"
    >
      See Answer
    </button>
  </p>
</div>
